In [14]:
import pandas
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
sns.set_theme(style="whitegrid")

In [15]:
import_df=pandas.read_feather('reports/import_report10Jul.feather')
func_df=pandas.read_csv('reports/func_report9Jul.csv')

In [39]:
import_df.columns

Index(['index', 'numpy', 'pandas', 'subprocess', 'Kernel', 'matplotlib',
       'h5py', 'os', 'seaborn', 'skimage',
       ...
       'cassnet', 'net_soft_label', 'ipdb', 'normalise', 'randomde',
       'yahoofinancials', 'pymystem3', 'iso639', 'collection', 'dtale'],
      dtype='object', length=1278)

In [43]:
module_counts = import_df.drop(columns = ['Kernel']).sum().sort_values(ascending=False)

In [47]:
module_perc = module_counts / len(import_df)

In [49]:
module_perc.head(10)

pandas          0.985448
numpy           0.845527
matplotlib      0.671362
sklearn         0.537909
os              0.512703
seaborn         0.398321
mpl_toolkits    0.163023
warnings        0.117571
learntools      0.114050
datetime        0.097902
dtype: float64

ipynb to py conversion:
wrote 46479 to file
total=34445, successful=34418

calls counting: idx+1=46868, successful=45464

In [51]:
most_common = func_df.groupby('Function').sum().sort_values(by=['Counter'], ascending=False).reset_index()
most_common.head(15)

        Function  Counter
0    __getitem__  1533975
1          print   280993
2           head   103937
3           show    99426
4            len    96143
5       read_csv    78295
6          range    67002
7         figure    63641
8           plot    62419
9          title    61881
10           sum    58868
11        append    56619
12       groupby    51653
13           fit    50483
14  value_counts    48920

In [52]:
# plotting
exclude = ['pie', 'Bar', 'Scatter', 'Figure', 'figure', 'add_trace', 'matshow', 'iplot', 'grid', 'tick_bottom', 'add_subplot','boxplot', 'annotate','colorbar', 'distplot', 'bar', 'yticks', 'tight_layout', 'barplot', 'suptitle', 'gca', 'imshow', 'update_layout', 'hist', 'countplot', 'scatter', 'legend', 'xticks', 'xlabel', 'show', 'set_title', 'title', 'subplot', 'set_ylabel', 'set_xlabel', 'subplot', 'heatmap','subplots', 'histplot','plot','ylabel']
# python built-ins
exclude.extend(['filterwarnings', 'print', 'list', 'str', 'dict'])
# tutorial functions
exclude.extend(['solution', 'check', 'plotPerColumnDistribution', 'plotCorrelationMatrix', 'plotScatterMatrix'])
# ipython
exclude.extend(['display', 'get_ipython', 'run_line_magic'])
mc_trimmed = most_common[~most_common['Function'].isin(exclude)]
pandas.options.display.max_rows = 300
mc_trimmed.head(50)

#filter pandas
#

            Function  Counter
0        __getitem__  1533975
2               head   103937
4                len    96143
5           read_csv    78295
6              range    67002
10               sum    58868
11            append    56619
12           groupby    51653
13               fit    50483
14      value_counts    48920
15           predict    43009
17              drop    39428
19         DataFrame    38755
20              mean    36743
21       sort_values    34302
22            format    33566
23       reset_index    32330
26              join    29695
27            dropna    29598
29             apply    28873
31            astype    26015
33           nunique    24129
34            fillna    23385
35              corr    23366
36           replace    22488
37               max    22221
42             round    20422
44            unique    20145
45            isnull    19728
46               min    19482
48               add    18791
49               int    18789
50             array    18322
51     fit_transform    16660
52               set    16422
54          describe    15871
55             split    15781
56               map    15768
57              copy    15325
58  train_test_split    15153
59               zip    15040
61            arange    14622
62              walk    14534
64            concat    14015
65           reshape    13767
66              info    13433
67             count    13096
68       to_datetime    13068
72             merge    11966
73            rename    11933

join is the python builtin string join
compile is a tensorflow function
log is numpy logarithm function
classification_report is a scikitlearn function
reshape can be either numpy.reshape or tensorflow.reshape